:root {
  --bg-color: #e1e1e1;
  --second-white: #f4f4f4;
  --text-color: #333134;
  --main-color: #0a7b81;
}

.about-row {
  flex-wrap: wrap;
}

.about-col {
  margin: 20px auto;
  height: 300px;
  border-radius: 35%;
  width: 200px;
  display: flex;
  flex-direction: column;
  border-right: 3px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
  transition: all 0.45s ease;
}

.about-col:hover {
  transform: scale(1.1);
  border: 3px solid var(--text-color);
}

.about-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.about-img img {
  width: 150px;
  height: 150px;
}

.img-content {
  text-align: center;
  height: 50%;
  display: flex;
  align-items: center;
  margin: auto;
  width: 75%;
}

.img-content p {
  font-weight: 600;
}

/* media queries  */

@media (max-width: 650px) {
  .about-col {
    height: 250px;
    width: 60%;
  }

  .about-img img {
    height: 100px;
    width: 100px;
  }

  .img-content {
    display: flex;
  }

  .img-content p {
    width: 70%;
    margin: auto;
    justify-content: center;
    font-size: 13px;
  }
}
