* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #e1e1e1;
  --second-white: #f4f4f4;
  --text-color: #333134;
  --main-color: #0a7b81;
  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}

::selection {
  background-color: var(--main-color);
  color: var(--second-white);
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  padding: 160px 15% 120px;
}

/* scroll */
::-webkit-scrollbar {
  width: 0;
}

#scroll-path {
  position: fixed;
  top: 0;
  right: 0;
  width: 12px;
  height: 100%;
  background: #fff;
  opacity: 0.5;
  z-index: 10000001;
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 12px;
  background: var(--text-color);
  z-index: 999999999;
}

/* header */

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 22px 5%;
  border-bottom: 1px solid transparent;
  transition: all 0.45s ease;
}

.logo {
  color: var(--text-color);
  font-size: 28px;
  font-weight: 500;
}

.logo span {
  color: var(--main-color);
  /* font-family: "Pacifico", cursive; */
  font-style: italic;
  font-weight: 600;
  font-size: 34px;
  letter-spacing: -1px;
}

.nav-lang {
  position: absolute;
  top: auto;
  left: 95%;
  display: flex;
}

.nav-lang a {
  color: var(--text-color);
  border: 2px solid var(--text-color);
  padding: 4px;
  font-weight: 600;
  font-size: 12px;
}

.nav-lang a:nth-child(1) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.nav-lang a:nth-child(2) {
  border-left: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.act {
  color: var(--bg-color) !important;
  background: var(--main-color);
}

.navlist {
  display: flex;
}

.navlist a {
  color: var(--text-color);
  font-size: 17px;
  font-weight: 500;
  margin: 0 25px;
  transition: all 0.45s ease;
}

ul li ul.dropdown li {
  display: block;
  padding: 20px 25px 20px 0;
  transition: all 0.45s ease;
  border-bottom: 1px solid var(--text-color);
}

ul li ul.dropdown li:hover {
  background: var(--main-color);
}

ul li ul.dropdown li:hover a {
  color: var(--bg-color);
}

ul li ul.dropdown {
  position: absolute;
  background: var(--bg-color);
  display: none;
  padding: 20px 0 0 0;
}

ul li ul.dropdown.sticky-drop {
  background-color: var(--second-white);
}

ul li:hover ul.dropdown {
  display: block;
}

.navlist li:nth-child(7) {
  margin-right: 30px;
}

.navlist a:hover {
  color: var(--main-color);
}

.navlist a.active {
  color: var(--main-color);
}

.navlist a.nav-career {
  color: var(--bg-color);
  background: var(--main-color);
  padding: 8px 18px;
  border-radius: 8px;
}

.navlist a.nav-career:hover {
  color: #fff;
}

#menu-icon {
  font-size: 35px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  display: none;
}

header.sticky {
  background: var(--second-white);
  padding: 12px 3%;
}

/* footer */

footer {
  width: 100%;
  position: relative;
  background: var(--text-color);
  color: var(--bg-color);
  padding: 100px 0 30px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
}

footer .logo {
  color: var(--bg-color);
}

.ft-row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.ft-col:nth-child(1) {
  text-align: center;
  padding-top: 40px;
}

.ft-col {
  flex-basis: 25%;
  padding: 10px;
}

.ft-col:nth-child(3) {
  flex-basis: 17%;
}

.ft-logo {
  width: 80px;
  margin-bottom: 30px;
}

.ft-col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.email-id {
  width: fit-content;
  border-bottom: 1px solid var(--bg-color);
  margin: 20px 0;
}

footer ul li {
  margin-bottom: 12px;
}

footer ul li a {
  color: var(--bg-color);
  transition: all 0.45s ease;
}

footer ul li a:hover {
  color: var(--main-color);
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid var(--bg-color);
  margin: 20px auto;
}

.copyright {
  text-align: center;
}

.underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 25px;
  left: 0;
  overflow: hidden;
}

.underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

/* media tags */

@media (max-width: 1480px) {
  header {
    padding: 12px 2.5%;
    transition: 0.1s;
  }

  header.sticky {
    padding: 10px 2.5%;
    transition: 0.1s;
  }
}

@media (max-width: 1285px) {
  .navlist a {
    margin: 0 15px;
    font-size: 17px;
  }

  ul.navlist li:nth-child(7) a {
    margin-right: 45px;
  }

  ul.open li:nth-child(7) a {
    margin-right: auto;
  }

  .nav-lang {
    left: 93%;
  }
}

@media (max-width: 1140px) {
  .navlist a {
    margin: 0 15px;
    font-size: 17px;
  }

  .logo {
    font-size: 25px;
  }
}

@media (max-width: 1050px) {
  #menu-icon {
    display: block;
  }

  .navlist {
    position: absolute;
    top: 0px;
    right: 0;
    left: 1500px;
    display: flex;
    flex-direction: column;
    background: var(--text-color);
    text-align: left;
    transition: all 0.45s ease;
    height: 100vh;
    justify-content: center;
  }

  .navlist a {
    display: block;
    margin: 17px;
    font-size: 20px;
    transition: all 0.45s ease;
    color: var(--bg-color);
    text-align: center;
  }

  .navlist.open {
    left: 500px;
  }

  .navlist a.active {
    color: var(--bg-color);
  }

  .navlist a:hover {
    /* text-shadow: 0px -29px 2px rgba(255, 255, 255, 0.59);
    color: #fff; */
    background-color: var(--bg-color) !important;
    color: var(--text-color);
    margin: 0 !important;
    padding: 20px;
  }

  .navlist a.nav-career {
    background: #0a7b8141;
    padding: 20px;
    border-radius: 0;
  }

  .navlist a.nav-career:hover {
    background-color: var(--main-color) !important;
  }

  .bx-x {
    color: var(--bg-color) !important;
  }

  .nav-lang {
    left: 87%;
    z-index: -1;
  }

  ul li ul.dropdown {
    width: 100%;
    padding: 0;
  }

  ul li ul.dropdown li {
    background: #666;
    color: var(--second-white);
  }

  ul li ul.dropdown li:hover {
    background: var(--text-color);
  }

  ul li:hover ul.dropdown li:hover a:hover {
    color: var(--text-color);
  }
}

@media (max-width: 820px) {
  .nav-lang {
    left: 83%;
  }
}

@media (max-width: 700px) {
  footer {
    bottom: unset;
  }

  .ft-col {
    flex-basis: 100%;
  }

  .ft-col:nth-child(2),
  .ft-col:nth-child(3) {
    flex-basis: 100%;
  }

  .ft-col:nth-child(1) {
    text-align: start;
    padding-top: auto;
  }

  .navlist.open {
    left: 300px;
  }
}

@media (max-width: 630px) {
  .nav-lang {
    left: 79%;
  }
}

@media (max-width: 560px) {
  .navlist.open {
    left: 0px;
  }

  .nav-lang {
    left: 50%;
  }
}
